# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

#Build Folder
build-EducationalGame-Desktop_Qt_5_13_1_GCC_64bit-Debug/*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pro.user

# Executables
*.exe
*.out
*.app
